@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(24, 24, 24);
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.main {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.main .option {
    width: 300px;
    height: 150px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 30px 10px 0 10px;
    border: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: background-color 0.3s ease;
}

.main .option:hover {
    background-color: rgb(0, 0, 0); 
}

.main .option:hover a {
    color: white;
}




