@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: white;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-operation {
    width: 20%;
    max-width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.operation-input {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.operation-color {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.operation-input input {
    width: 100%;
    height: 50px;
    font-size: 1.4rem;
}

button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 20px;
    color: black;
    font-family: 'Poppins', sans-serif;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#button-purple {
    background-color: purple;
    color: white;
    font-size: 1.5rem;
}

#button-grey {
    background-color: grey;
    color: white;
    font-size: 1.5rem;
}

#button-red {
    background-color: red;
    color: white;
    font-size: 1.5rem;
}

#button-blue {
    background-color: blue;
    color: white;
    font-size: 1.5rem;
}

#button-green {
    background-color: green;
    color: white;
    font-size: 1.5rem;
}

canvas {
    width: 25%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* #Purple, #Grey {
    transition: transform 0.2s ease;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}
#Purple:hover, #Grey:hover {
    transform: scale(0.9);
} */