@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    height: 100%;
    max-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col p {
    font-size: 18px;
}

.image-container {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 14px;
}

.preview {
    width: 400px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


button {
    width: 400px;
    background-color: #2fda00;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1d8500;
}

#delete-button {
    background-color: #ff0000;
}

#delete-button:hover {
    background-color: #800000;
}

.result-container h2 {
    text-align: center;
}

canvas {
    max-width: 500px;
    max-height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}